
:root{
  --body-color: rgb(20, 20, 38);
  --background-color: rgb(45, 45, 81);
  --text-color: rgb(172, 172, 255);
  --logo-color: rgb(87, 87, 255);
  --theme-toggle-btn: rgb(172, 172, 255);
  --theme-toggle-color: rgb(20, 20, 38);
  --btn-add: rgb(29, 29, 54);
}

html, body {
	height: 100%;
	font-family: 'Rubik', sans-serif;
  width: 100%;
  background-color: var(--body-color);
}
body {
  padding-top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 100%;
}
body.dark-theme {
  --body-color: rgb(188, 188, 255);
  --background-color: rgb(79, 79, 164);
  --text-color: rgb(215, 215, 215);
  --logo-color: rgb(156, 156, 255);
  --theme-toggle-btn: rgb(111, 111, 255);
  --theme-toggle-color: #fff;
  --btn-add: rgb(42, 42, 72);
}

.wrapper{
	min-height: 100%;
	display: flex;
	flex-direction: column;
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
	background-color: var(--background-color);
  width: 100%;
  left: 0;
  top: 0;
  height: 120px;
  border-radius: 0px 0px 25px 25px;
  margin-bottom: 90px;
}
theme-toggle{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--theme-toggle-btn);
  color: var(--theme-toggle-color);
  border: none;
  border-radius: 6px;
  padding: 6px 15px;
  cursor: pointer;
  transition: all 0.1s ease-in;
  font-size: 18px;
  font-weight: 400;
}
#theme-toggle:hover{
  /* background-color: rgb(144, 144, 255); */
}
#theme-toggle {   
  background-color: rgba(144, 144, 255, 0.48);
  -webkit-appearance: none;
  -moz-appearance: none;  
  appearance: none;
  width: 45px;
  height: 26px;  
  cursor: pointer;
  border-radius: 30px;
  border: 2px solid rgb(172, 172, 255);
  cursor: pointer;
  position: relative;
  transition: 0.3s;
}

#theme-toggle:checked { 
  background: #9bb4ff;
  border: 3px solid #9bb4ff;
}

#theme-toggle::before {   
  content: '';
  position: absolute;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background: rgb(249, 249, 255);
  top: 50%;
  left: 2px;
  transform: translateY(-50%);
  transition: 0.3s;
}

#theme-toggle:checked::before { 
  background: #275efe;
  border: none;
  left: 21px;
  background: white;  
}

.logo{
  font-weight: 700;
  color: var(--logo-color);
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.container{
}
.logo-new{
  color: var(--text-color);
}
.aside {
  height: 400px;
}
.main {
  height: 400px;
}
.d-flex {
  display: flex;
}
.task-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  color: var(--text-color);
}
.gray {
  color: #BDBDBD;
}

@media(max-width: 878px){
  .logo{

  }
}
.task-title--done {
  text-decoration: line-through;
  color: #939393;
}
.task-item__buttons {
  display: flex;
  column-gap: 5px;
}
.task-item{

}
.notify-holder {
  height: 60px;
  margin-bottom: 20px;
}
.empty-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1em;
  padding-bottom: 1em;
	background-color: var(--background-color);
}
.empty-list__title {
  font-size: 35px;
  margin-bottom: 15px;
  font-weight: 300;
  color: var(--text-color);
}
.empty-list__icon {
  font-size: 32px;
}
.btn-action {
    background-color: var(--text-color);
    padding: 10px 10px;
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    transition: opacity 0.2s ease-in;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.btn-action:hover {
  background-color: rgb(138, 138, 255);
  opacity: 1;
}

.btn-action img {
  pointer-events: none;
}

.none {
  display: none !important;
}

.float-right {
  float: right;
}

#btn-add{
  display: flex;
	background-color: var(--text-color);
  border: none;
  color: var(--btn-add);
  font-weight: 400;
  border-radius: 10px;
  transition: all 0.05s ease-in;
}
#btn-add:hover{
	background-color: rgb(94, 94, 255);
}
#btn-add:active{
  transform: scale(0.9);
}
.card--add{
  position: relative;
	background-color: var(--background-color);
  border-radius: 25px 25px 25px 25px;
}

.card-header{
  text-align: center;
  font-size: 23px;
  font-weight: 400;
  color: var(--text-color);
}

#card__active{
  border-radius: 25px;
  border: none;
}
.form-control{
  border-radius: 10px;
  border: none;
  background-color: rgba(216, 220, 255, 0.209);
  backdrop-filter: blur(40px);
  height: 37px;
  color: rgb(222, 222, 255);
}
.form input{
  color: #fff;
}
.form-control::placeholder{
  color: rgb(222, 222, 255);
}
.form-control:focus{
  background-color: rgba(255, 255, 255, 0.397);
  border: none;
  color: rgb(222, 222, 255);
}
#emailHelp{
  color: #ffffffdf;
}

.card{
  border: none;
}
@media (max-width: 500px){
  #btn-add{

    margin: 0 auto;
  }
}
@media (max-width: 470px){
  #emailHelp{
    display: none;
  }
}
@media (max-width: 700px){
  body{

  }
}

.list-group-item{
	background-color: var(--background-color);
  border-radius: 30px;
}
.justify-content-between{
  
}
.footer{
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
	background-color: rgb(36, 36, 69);
  border-radius: 25px;
  height: 60px;
  margin-top: 15px;
}