NODE_ENV=development
PORT=3041

DB_HOST=localhost
DB_PORT=5440
DB_NAME=letget
DB_USER=letget
DB_PASSWORD=

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=3

TELEGRAM_BOT_TOKEN=disabled
TELEGRAM_BOT_USERNAME=letget_bot
TELEGRAM_WEBHOOK_SECRET=
TELEGRAM_USE_LONG_POLLING=true
