NODE_ENV=development

DB_HOST=localhost
DB_PORT=5440
DB_NAME=letget
DB_USER=letget
DB_PASSWORD=

REDIS_HOST=localhost
REDIS_PORT=6382
REDIS_DB=3

BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3040

RESEND_API_KEY=

TELEGRAM_BOT_TOKEN=
TELEGRAM_BOT_USERNAME=letget_bot
TELEGRAM_WEBHOOK_SECRET=
TELEGRAM_USE_LONG_POLLING=true

ADMIN_EMAIL=admin@example.com
APP_URL=http://localhost:3040
